*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.container__navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em 10em;
}

.container__navbar__left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    justify-content: space-between;
}
.left__title{
    display: flex;
    align-items: center;
}

.container__navbar__left__title>h1{
    margin-left: 5px;
}
.azul{
    color:#2A7AE4;
}
.container__navbar__left__search{
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 2.5em;
    background-color: #F5F5F5 ;
    border-radius:10px;
    padding: 10px;
}

.btn{
    padding: 10px;
    width: 12em;
    height: 3.2em;
    cursor: pointer;
}
.btnLogin{
    background-color:white ;
    border:1px solid #2A7AE4;
    color:#2A7AE4;
}
.btnFull{
    width: 100%;
}
/*Products*/
.container__products{
 background-color: #F5F5F5;
 padding: 5em 10em; 
}
.container__products__header{
    display: flex;
    justify-content: space-between;

}

.container__products__header__title{
    font-weight: 700;
    font-size: 30px;   
}

.btnBlue{
    background-color:#2A7AE4;
    color:white;
    border:none;
}

/* 
.container__products__galery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 2em;
}
.container__products__galery__item{
    line-height: 1.5em;
    margin-bottom: 3em;
    width: 13%;
    margin-right: 1em;
}
.container__products__galery__item > img{
    width: 100%;
    height: 8em;
}
.container__products__galery__item__price{
    font-weight: 700;
} */

/*using grid*/
.container__products__galery{
    display: grid;
    grid-template-columns: 16.75% 16.75% 16.75% 16.75% 16.75% 16.75%;
}
.container__products__galery__item{
    margin: 1em 5px;
}
.container__products__galery__item__buttons{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.container__products__galery__item__buttons > button{
    background-color: transparent;
    border:none;
    width: 1.6em;
    height: 1.6em;
    margin-top: 0.8em;
    margin-right: 1.2em;
    cursor:pointer;
}
.container__products__galery__item__buttons >button:nth-child(1){
    margin-right: 2em;
}

.container__products__galery__item__image{
    background: url("starwars.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 12em;
    margin-bottom: 10px;
}

.btnImages-Gallery > img{
    width: 100%;
    height: 100%;
}

/*footer*/

.container__footer{
    display: flex;
    padding: 5em 10em;
    justify-content: space-between;
    align-items: center;
    background-color: #EAF2FD;
    height: 390px;
}
.footer__left__title{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: start;
}
.container__footer__pages{
    width: 30%;
    height: 100%;
}
.container__footer__pages__text{
    margin:0em 1.5em;
}
.container__footer__pages> p:nth-child(2n){
    margin: 2em 1.5em ;
}
.container__footer__pages__text>a{
    color:black;
    text-decoration: none;
}
.container__footer__pages__text> a:hover{
    color:blue;
}

.container__footer__contact{
    display: flex;
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
}
.container__footer__contact__title{
    font-weight: 600;
    width: 100%;
}
.container__footer__contact__form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#inputName{
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border:none;
}
#inputMessage{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 1em;
    border:none;
    resize: none;
}

.credit{
    width: 100%;
    padding:2em;
    text-align: center;

}

/*Banner*/

.container__banner{
    width: 100%;
    border:1px solid;
    height: 40vh;
    background-image: url("images/Hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -40px;
    display: flex;
    align-items: flex-end;
    padding: 2% 10%;
}
.container__banner__info{
    width: 50%;
}

.continer__banner__title{
    font-size: 60px;
    color:white;
    font-weight: 700;
    margin-bottom: 0.3em;
}
.continer__banner__subtitle{
    font-size: 25px;
    color:white;
    font-weight: 600;
    margin-bottom: 0.7em;
}

.btnViewConsole{
    width: 8em;
}

/*Category*/

.container__category{
    padding: 2% 10%;
}
.container__category__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2em;
}

.btnSeeAll{
    background-color: transparent;
    border:none;
    color: #2A7AE4;
    font-size: 17px;
    font-weight:600;
    width: 7em;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.container__category__galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.container__category__item{
    line-height: 25px;
}
.container__category__header__title{
    font-size: 35px;
}
.container__category__item__price{
    font-weight: 600;
    font-size: 17px;
}
.container__category__item__showProduct{
    color: #2A7AE4;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

/*Login*/
.container__login{
    width: 100%;
    text-align: center;
    background-color: #F5F5F5;
    height:60vh ;
    padding: 8% 0em;
}

/*FORMS*/
.container__forms{
    width: 27%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.container__forms__input{
    padding: 1em;
    width: 100%;
    border:none;
    margin-bottom: 2em;
    height: 3.5em;
}
.container__forms_button{
    width: 100%;
    font-size: 14px;
}

.container__forms__textArea{
    height: 9em;
    resize: none;
    margin-bottom: 2em;
    border: none;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.btnLogin{
    font-size: 14px;
}

.container__login__title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1.4em;
}

/*Add New Product*/
.container__addNewProduct{
    width: 100%;
    text-align: center;
    background-color: #F5F5F5;
    padding: 4% 0em;
}
.container__addNewProduct__title{
    font-size: 30px;
    text-align: start;
    margin-bottom: 1em;
    font-weight: 600;
}